<!DOCTYPE html>
<head lang="es-AR">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/fonts.css" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/fontawesome.min.css" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/syntax.css" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/normalize.css" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/index.css" />
    <link rel="icon" type="image/x-icon" href="{{ site.url }}{{ site.baseurl }}/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="{{ site.url }}{{ site.baseurl }}/assets/icons/single-book-152-204361.png">
    <meta name="msapplication-TileColor" content="#004B00" />
    <meta name="msapplication-TileImage" content="{{ site.url }}{{ site.baseurl }}/assets/icons/single-book-144-204361.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.url }}{{ site.baseurl }}/assets/icons/single-book-152-204361.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}{{ site.baseurl }}/assets/icons/single-book-144-204361.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.url }}{{ site.baseurl }}/assets/icons/single-book-120-204361.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}{{ site.baseurl }}/assets/icons/single-book-114-204361.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}{{ site.baseurl }}/assets/icons/single-book-72-204361.png">
    <link rel="apple-touch-icon-precomposed" href="{{ site.url }}{{ site.baseurl }}/assets/icons/single-book-57-204361.png">
    <link rel="icon" href="{{ site.url }}{{ site.baseurl }}/assets/icons/single-book-32-204361.png" sizes="32x32">
</head>
