<!DOCTYPE html>
<head lang="es-AR">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="theme-color" content="#000" />
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/fonts.css" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/syntax.css" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/normalize.css" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/index.css" />
    <meta name="msapplication-TileColor" content="#000" />
</head>
