main {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga", "dlig";
}

a.tooltip {
    padding: 4px 16px;
    text-align: center;
    display: block;
    text-decoration: none;
}

a.tooltip.alert {
    background-color: #fff1cf;
    border: thin solid #f5e2b6;
    color: #8a6712;
    border-radius: 4px;
    margin-bottom: 16px;
}

a.tooltip.info {    
    color: #585555;
    background-color: #f5f5f5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: thin solid #dededc;
    border-bottom: none;
}

div.teaserimage {
    height: 204px;
    position: relative;
    overflow: hidden;
    background-color: #000;
    border-bottom: thin solid #c3c3c3;
}

div.teaserimage-image {
    background-size: cover;
    background-position: center;
    background-image: url("../../assets/images/cover.jpg");
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    text-indent: -999px;
}

header.blog-header {
    width: calc(100% - 36px);
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    padding: 0 18px;
}

div.index-headline {
    border-top: 1px solid #dededc;
    margin: 0;
    padding: 16px 0;
}

h1.blog-title {
    margin: 0;
    padding: 36px 18px 9px;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    letter-spacing: -2px;
    outline: 0;
    line-height: 50px;
    word-break: break-word;
    color: #333;
}

h2.blog-description {
    margin: 0 0 18px;
    padding: 0 36px;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    text-align: center;
    font-weight: 400;
}

div.custom-links {
    margin: 0 0 36px;
    text-align: center;
    font-size: 14px;
}

div.custom-links > a {
    text-decoration: none;
    color: #555;
}

div.custom-links > a:hover {
    color: #444;
}

main.content {
    width: calc(100% - 72px);
    max-width: 640px;
    margin: 0 auto;
    padding: 0 36px;
}

main.content > article {
    padding: 40px 0;
    border-bottom: 1px solid #f2f2f0;
}

main.content > article {
    padding: 40px 0;
    border-bottom: 1px solid #f2f2f0;
}

main.content > article:last-child {
    border-bottom: 0;
}

main.content > article > div.buttons-content {
    margin: 12px 0 6px 0;
}

main.content > article > div.buttons-content > a.post-button {   
    display: inline-block;
    background-color: #F8F8F8;
    margin: 6px 6px 6px 0px;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    color: #555;
    border: thin solid #E6E6E6;
    transition: .1s ease;
}

main.content > article > div.buttons-content > a.post-button:hover {   
    background-color: #E6E6E6;
    color: #333;
}

main.content > article > div.buttons-content > a.post-button.bonus-item {
    background-color: #FFF1F1;
    border-color: #FFCFCF;
    color: #894343;
}

main.content > article > div.buttons-content > a.post-button.bonus-item:hover {
    background-color: #FFCFCF;
    color: #421c1c;
}

main.content > article > div.buttons-content > a.post-button:last-child {   
    margin-right: 0px;
}

main.content > article > header.post-header > h2.post-title {
    letter-spacing: -1.5px;
    font-weight: 600;
    font-style: normal;
    display: block;
    font-size: 32px;
    line-height: 1.25;
    margin: 0 0;
}

main.content > article > section.post-excerpt {
    letter-spacing: -0.5px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #696969;
}

main.content > article > section.post-excerpt > a {
    color: #555;
}

main.content > article > section.post-excerpt > a:hover {
    color: #333;
}

main.content > header.article-image {
    background-color: #000;
}

header.article-image > div.post-article-image {
    background-image: url("../../assets/images/pagecover.jpg");
    background-color: #000;
    background-size: cover;
    background-position: bottom;
    height: 50vh;
    z-index: 1;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}

header.article-image > div.post-article-image.team-image {
    background-image: url("../../assets/images/teamcover.jpg");
}

header.article-image > div.post-article-image > div.post-meta {
    text-align: center;
    z-index: 9;
    text-shadow: 0px 2px 4px #000;
    color: #FFF;
    padding: 0 12px 10px 12px;
    width: calc(100vw - 41px);
}

header.article-image > div.post-article-image > div.post-meta > h1.post-title {
    font-weight: 600;
    font-style: normal;
    letter-spacing: -2px;
    font-size: 48px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

header.article-image > div.post-article-image > div.post-meta > h4.post-meta-text {
    color: #D4D4D4;
    font-weight: 400;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    letter-spacing: -0.5px;
}

header.article-image > div.post-article-image > div.post-meta > h5.post-viewmore {
    display: none;
}

main.content > article.post {
    padding: 24px 0;
}

main.content > article.post > section.post-content {
    width: 100%;
    font-family: 'Linux Libertine', 'Times New Roman', Times, serif;
    color: #333;
}

footer.site-footer {
    margin: 0 auto;
    padding: 0 0 18px;
    width: 100%;
    max-width: 640px;
    font-size: 14px;
    text-align: center;
    color: #333;
    line-height: 16px;
}

footer.site-footer > section.copyright a {
    color: #555;
    text-decoration: none;
}

footer.site-footer > section.copyright > a:hover {
    color: #333;
}

footer.site-footer > ul.footer-go {
    list-style: none;
    margin: 0 0 4px 0;
    padding: 0;
    text-transform: lowercase;
}

footer.site-footer > ul.footer-go > li {
    display: inline;
    margin-left: -3px;
    padding: 4px 12px;
    border-top: thin solid #DEDEDC;
}

footer.site-footer > ul.footer-go > li:first-child {
    border-left: thin solid #DEDEDC;
    border-top-left-radius: 8px;
}

footer.site-footer > ul.footer-go > li:last-child {
    border-right: thin solid #DEDEDC;
    border-top-right-radius: 8px;
}

footer.site-footer > ul.footer-go > li > a {
    text-decoration: none;
    color: #555;
    cursor: pointer;
}

main.content > article.post > section.post-content > h1,
main.content > article.post > section.post-content > h2,
main.content > article.post > section.post-content > h3, 
main.content > article.post > section.post-content > h4, 
main.content > article.post > section.post-content > h5, 
main.content > article.post > section.post-content > h6 {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, 'Helvetica Neue', sans-serif;
    letter-spacing: -0.02em;
    font-weight: 700;
    margin-bottom: 10px;
}

main.content > article.post > section.post-content > h1, 
main.content > article.post > section.post-content > h2 {
    font-size: 32px;
    line-height: 1.3;
}

main.content > article.post > section.post-content > h3 {
    font-size: 24px;
    line-height: 1.2;
}

main.content > article.post > section.post-content > h4, 
main.content > article.post > section.post-content > h5, 
main.content > article.post > section.post-content > h6 {
    font-size: 22px;
    line-height: 1;
}

main.content > article.post > section.post-content > p {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    margin: 0 0 22px 0;
    color: #333;
    hyphens: auto;
}

main.content > article.post > section.post-content a {
    color: #555;
    text-decoration: underline;
}

main.content > article.post > section.post-content a:hover {
    color: #333;
}

main.content > article.post > section.post-content > img {
    max-width: 100%;
    margin: 0 auto;
}

main.content > article.post > section.post-content > figure {
    margin: 0;
    padding: 0 0 30px;
}

main.content > article.post > section.post-content > figcaption {
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    line-height: 1.3;
    color: #666665;
    outline: 0;
    z-index: 300;
    text-align: center;
}

main.content > article.post > section.post-content > hr {
    border: 0;
    padding: 0;
    display: block;
    margin: -6px auto 30px;
    border: 0px solid #ddd;
    border-top: 1px solid #ddd;
}

main.content > article.post > section.post-content blockquote {
    margin: 0 0 30px;
    border-left: 4px solid #e6e3df;
    padding-left: 20px;
}

main.content > article.post > section.post-content blockquote > p {
    letter-spacing: 0.01rem;
    font-weight: 200;
    padding-left: 20px;
    margin-left: -26px;
    font-size: 23px;
    color: #777;
}

main.content > article.post > section.post-content blockquote > ul {
    font-family: 'Linux Libertine', 'Times New Roman', Times, serif;
    font-size: 1.4em;
    color: #777;
    padding-left: 24px;
}

main.content > article.post > section.post-content > ul, 
main.content > article.post > section.post-content > ol {
    padding: 0 0 30px;
    margin: 12px 0 0 0;
}

main.content > article.post > section.post-content > ul > li,
main.content > article.post > section.post-content > ol > li {
    padding: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    margin-left: 30px;
    margin-bottom: 14px;
    padding-top: 2px;
}

main.content > article.post > section.post-content > ol > li {
    list-style-type: decimal;
}

main.content > article.post > section.post-content > ul > li p,
main.content > article.post > section.post-content > ol > li p {
    padding: 0;
    margin: 0;
}

main.content > article.post > section.post-content > ul > li a,
main.content > article.post > section.post-content > ol > li a {
    color: #555;
    text-decoration: underline;
}

main.content > article.post > section.post-content > ul > li a:hover,
main.content > article.post > section.post-content > ol > li a:hover {
    color: #333;
}

main.content > article.post > section.post-content > pre,
main.content > article.post > section.post-content > code {
    font-size: 18px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef;
}

main.content > article.post > section.post-content > code {
    padding: 1px 5px;
}

main.content > article.post > section.post-content > pre {
    padding: 8px 12px;
    overflow-x: scroll;
}

main.content > article.post > section.post-content > pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}

main.content > article.post > section.post-content > iframe {
    border: thin solid #dadada;
    box-shadow: 0px 1px 8px -4px #000;
    background-color: #fafafa;
}

main.content > article.post > section.post-content > p code {
    background-color: #fff4f4;
    border: thin solid #f5c2c2;
    color: #e34f4f;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.75em;
    font-family: "Ubuntu Mono", "Courier New", Courier, monospace;
}

main.content > article.post > section.post-content pre {
    border: thin solid #dedede;
    border-radius: 4px;
    padding: 4px 8px;
    background-color: #f8f8f8;
    color: #383838;
    font-family: "Ubuntu Mono", "Courier New", Courier, monospace;
}

main.content > article.post > section.post-content pre > code {
    font-family: inherit;
}

main.content > article.post > section.post-content > table {
    width: 100%;
    margin: 8px 0 16px 0;
}

main.content > article.post > section.post-content > table > thead > tr,
main.content > article.post > section.post-content > table > tbody > tr {
    border-bottom: thin solid #eaeaea;
}

main.content > article.post > section.post-content > table tbody > tr:last-child {
    border-bottom: none;
}

main.content > article.post > section.post-content > table tr > th,
main.content > article.post > section.post-content > table tr > td {
    padding: 4px 6px;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, 'Helvetica Neue', sans-serif;
    font-size: 0.9em;
}

main.content > article.post > section.post-content img {
    max-width: 35%;
}

main.content > article.post > section.post-content > dl > dt {
    font-size: 1.1em;
    font-weight: 700;
}

main.content > article.post > section.post-content > dl > dd {
    margin-left: 16px;
}

main.content > article.post > section.post-content abbr {
    border-bottom: none;
}

main.content > article.team > section.post-content > ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

main.content > article.team > section.post-content > ul > li {
    width: 210px;
    display: inline-block;
    text-align: center;
    margin: 12px 0;
    font-size: 14px;
    color: #666;
    line-height: 14px;
}

main.content > article.team > section.post-content > ul > li em {
    font-style: normal;
    font-size: 0.75em;
    background-color: #eee;
    padding: 1px 6px 0px 6px;
    border-radius: 2px;
    display: inline-block;
}

main.content > article.team > section.post-content > ul > li img {
    margin-top: 2px;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #0000004d;
}

@media (max-width: 572px) {
    main.content > article > div.buttons-content > a.post-button {
        display: block;
        margin-right: 0;
    }
}

@media (min-height: 700px) {
    header.article-image > div.post-article-image {
        height: 25vh;
    }
}

@media (max-height: 396px) {
    header.article-image > div.post-article-image {
        height: 100vh;
    }
    header.article-image > div.post-article-image > div.post-meta > h5.post-viewmore {
        display: block;
        position: absolute;
        text-align: center;
        width: calc(100vw - 24px);
        bottom: 0;
        font-size: 20px;
    }
}
