main {
    display: block;
}

img.jekyll-logo {
    height: 36px;
    padding: 0;
    margin: -10px 0px;
}

iframe {
    background-color: #fafafa;
    width: 100%;
    height: 60vh;
    box-shadow: 0 0 6px 0px #666;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Segoe UI", Tahoma, Verdana, "Helvetica Neue", sans-serif;
}

div.error {
    text-align: center;
    padding: 30px 0;
}

div.error > img {
    max-height: 131px;
    display: inline-block;
}

div.error > h1 {
    font-size: 4em;
    letter-spacing: -2px;
    margin: 0;
    font-weight: 100;
    color: #000000;
    display: inline-block;
    padding: 0;
}

div.error > h2 {
    font-size: 1.4em;
    letter-spacing: -0.5px;
    margin: -19px auto 0 auto;
    border-top: thin solid #000;
    padding: 18px 32px 0 32px;
    width: calc(100% - 72px);
    max-width: 384px;
}

div.error > a {
    text-decoration: none !important;
    color: #6e6e6e !important;
    letter-spacing: -0.5px;
}

a.tooltip {
    text-align: center;
    text-decoration: none;
    display: block;
}

a.tooltip.home {
    background-color: #c00000;
    color: #FFF;
    font-size: 0.9em;
    font-weight: 600;
    padding: 8px 16px;
    text-shadow: 0 0 1px #330000;
}

a.tooltip.info {    
    color: #585555;
    background-color: #f5f5f5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: thin solid #dededc;
    border-bottom: none;
}

header.blog-header {    
    background-size: cover;
    background-position: center;
    background-image: url("../../assets/images/cover.jpg");
    border-bottom: thin solid #202020;
    color: #FFF;
    text-align: center;
    padding: 32px 0;
    text-shadow: 0 0 4px #000;
}

div.blog-header {
    width: calc(100% - 72px);
    max-width: 640px;
    margin: 0 auto;
    padding: 0 32px;
}

h1.blog-title {
    font-size: 48px;
    text-align: center;
    font-weight: 600;
    letter-spacing: -2px;
    padding: 0;
    margin: 0 0 14px 0;
    line-height: 56px;
}

p.blog-description {
    font-size: 16px;
    font-weight: 100;
    margin: 0;
    padding: 0;
    letter-spacing: -0.5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.custom-links {
    font-size: 14px;
    margin: 24px 0 16px;
}

div.custom-links > a {
    text-decoration: none;
    color: #FFF;
    border: thin solid #CFCFCF;
    padding: 6px 12px;
    border-radius: 4px;
}

main.content {
    width: calc(100% - 72px);
    max-width: 640px;
    margin: 0 auto;
    padding: 0 32px;
}

main.content > article {
    padding: 40px 0;
}

main.content > article:last-child {
    border-bottom: 0;
}

main.content > article > div.buttons-content {
    margin: 12px 0 6px 0;
}

main.content > article > div.buttons-content > a.post-button {   
    display: inline-block;
    margin: 6px 6px 6px 0px;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    color: #555;
    border: thin solid #9c9c9c;
    transition: .1s ease;
}

main.content > article > div.buttons-content > a.post-button.bonus-item {
    border-color: #d45252;
    color: #a11717;
}

main.content > article > div.buttons-content > a.post-button:last-child {   
    margin-right: 0px;
}

main.content > article > header.post-header > h2.post-title {
    letter-spacing: -1.5px;
    font-weight: 600;
    font-style: normal;
    display: block;
    font-size: 32px;
    line-height: 1.25;
    margin: 0 0;
}

main.content > article > section.post-excerpt {
    letter-spacing: -0.5px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #696969;
}

main.content > article > section.post-excerpt > a {
    color: #555;
}

main.content > article > section.post-excerpt > a:hover {
    color: #333;
}

main.content > article.post {
    padding: 24px 0;
}

main.content > article.post > section.post-content {
    width: 100%;
    font-family: "Noto Serif", "Times New Roman", Times, serif;
    color: #333;
}

footer.site-footer {
    margin: 0 auto;
    padding: 0 0 18px;
    width: 100%;
    max-width: 640px;
    font-size: 14px;
    text-align: center;
    color: #333;
    line-height: 16px;
}

footer.site-footer > section.copyright a {
    color: #555;
    text-decoration: none;
}

footer.site-footer > section.copyright > a:hover {
    color: #333;
}

ul.footer-go {
    list-style: none;
    margin: 32px 0;
    padding: 0;
    width: 100vw;
    text-align: center;
}

ul.footer-go > li {
    display: inline-block;
    cursor: pointer;
    padding: 6px 14px;
    font-size: 16px;
    border: thin solid #c5c5c5;
    border-radius: 4px;
    font-weight: 100;
}

ul.footer-go > li > a {
    text-decoration: none;
    color: #9b9b9b;
    text-transform: lowercase;
}

main.content > article.post > section.post-content > h1,
main.content > article.post > section.post-content > h2,
main.content > article.post > section.post-content > h3, 
main.content > article.post > section.post-content > h4, 
main.content > article.post > section.post-content > h5, 
main.content > article.post > section.post-content > h6 {
    font-family: "Open Sans", "Segoe UI", Tahoma, Verdana, "Helvetica Neue", sans-serif;
    letter-spacing: -0.02em;
    font-weight: 700;
    margin-bottom: 10px;
}

main.content > article.post > section.post-content > h1 {
    font-size: 32px;
    line-height: 1.3;
}

main.content > article.post > section.post-content > h2 {
    font-size: 30px;
    line-height: 1.3;
}

main.content > article.post > section.post-content > h3 {
    font-size: 28px;
    line-height: 1.2;
}

main.content > article.post > section.post-content > h4 {
    font-size: 26px;
    line-height: 1;
}

main.content > article.post > section.post-content > h5 {
    font-size: 24px;
    line-height: 1;
}

main.content > article.post > section.post-content > h6 {
    font-size: 22px;
    line-height: 1;
}

main.content > article.post > section.post-content > p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 22px 0;
    color: #333;
    hyphens: auto;
}

main.content > article.post > section.post-content a {
    color: #555;
    text-decoration: underline;
}

main.content > article.post > section.post-content a:hover {
    color: #333;
}

main.content > article.post > section.post-content > img {
    max-width: 100%;
    margin: 0 auto;
}

main.content > article.post > section.post-content > figure {
    margin: 0;
    padding: 0 0 30px;
}

main.content > article.post > section.post-content > figcaption {
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 1.3;
    color: #666665;
    outline: 0;
    z-index: 300;
    text-align: center;
}

hr {
    border: 0;
    padding: 0;
    display: block;
    border-top: thin solid #dededc;
    margin: 12px 15vw 24px;
}

main.content > article.post > section.post-content blockquote {
    margin: 0 0 30px;
    border-left: 4px solid #e6e3df;
    padding-left: 20px;
}

main.content > article.post > section.post-content blockquote > p {
    letter-spacing: 0.01rem;
    font-weight: 200;
    padding-left: 20px;
    margin-left: -26px;
    font-size: 18px;
    color: #777;
}

main.content > article.post > section.post-content blockquote > ul {
    font-family: "Noto Serif", "Times New Roman", Times, serif;
    font-size: 1.1em;
    color: #777;
    padding-left: 24px;
}

main.content > article.post > section.post-content > ul, 
main.content > article.post > section.post-content > ol {
    padding: 0 0 30px;
    margin: 12px 0 0 0;
}

main.content > article.post > section.post-content > ul > li,
main.content > article.post > section.post-content > ol > li {
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-left: 30px;
    margin-bottom: 14px;
    padding-top: 2px;
}

main.content > article.post > section.post-content > ol > li {
    list-style-type: decimal;
}

main.content > article.post > section.post-content > ul > li p,
main.content > article.post > section.post-content > ol > li p {
    padding: 0;
    margin: 0;
}

main.content > article.post > section.post-content > ul > li a,
main.content > article.post > section.post-content > ol > li a {
    color: #555;
    text-decoration: underline;
}

main.content > article.post > section.post-content > ul > li a:hover,
main.content > article.post > section.post-content > ol > li a:hover {
    color: #333;
}

main.content > article.post > section.post-content > pre,
main.content > article.post > section.post-content > code {
    font-size: 18px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef;
}

main.content > article.post > section.post-content > code {
    padding: 1px 5px;
}

main.content > article.post > section.post-content > pre {
    padding: 8px 12px;
    overflow-x: scroll;
}

main.content > article.post > section.post-content > pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}

main.content > article.post > section.post-content > p code {
    background-color: #fff4f4;
    border: thin solid #f5c2c2;
    color: #e34f4f;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.75em;
    font-family: "Ubuntu Mono", "Courier New", Courier, monospace;
}

main.content > article.post > section.post-content pre {
    border: thin solid #dedede;
    border-radius: 4px;
    padding: 4px 8px;
    background-color: #f8f8f8;
    color: #383838;
    font-family: "Ubuntu Mono", "Courier New", Courier, monospace;
}

main.content > article.post > section.post-content pre > code {
    font-family: inherit;
}

main.content > article.post > section.post-content > table {
    width: 100%;
    margin: 8px 0 16px 0;
}

main.content > article.post > section.post-content > table > thead > tr,
main.content > article.post > section.post-content > table > tbody > tr {
    border-bottom: thin solid #eaeaea;
}

main.content > article.post > section.post-content > table tbody > tr:last-child {
    border-bottom: none;
}

main.content > article.post > section.post-content > table tr > th,
main.content > article.post > section.post-content > table tr > td {
    padding: 4px 6px;
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, "Helvetica Neue", sans-serif;
    font-size: 0.9em;
}

main.content > article.post > section.post-content img {
    max-width: 100%;
}

main.content > article.post > section.post-content > dl > dt {
    font-size: 1.1em;
    font-weight: 700;
}

main.content > article.post > section.post-content > dl > dd {
    margin-left: 16px;
}

main.content > article.post > section.post-content abbr {
    border-bottom: none;
}

main.content > article.team > section.post-content > ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

main.content > article.team > section.post-content > ul > li {
    width: 210px;
    display: inline-block;
    text-align: center;
    margin: 12px 0;
    font-size: 14px;
    color: #666;
    line-height: 14px;
}

main.content > article.team > section.post-content > ul > li em {
    font-style: normal;
    font-size: 0.75em;
    background-color: #eee;
    padding: 1px 6px 0px 6px;
    border-radius: 2px;
    display: inline-block;
}

main.content > article.team > section.post-content > ul > li img {
    margin-top: 2px;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #0000004d;
}

ul.pseudofooter {
    list-style: none;
    text-align: center;
    padding: 0;
}

ul.pseudofooter > li {
    display: inline-flex;
    border: thin solid #9c9c9c;
}

ul.pseudofooter > li > a {
    color: #555 !important;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75em;
    padding: 6px 12px;
    cursor: pointer;
}

ul.pseudofooter > li:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-right: -5px;
    border-right: none;
}

ul.pseudofooter > li:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: -5px;
    border-left: none;
}

@media (max-width: 572px) {
    main.content > article > div.buttons-content > a.post-button {
        display: block;
        margin-right: 0;
    }
}