{% include head.html %}
<body>
    {% include teaser.html %}
    <header class="blog-header">
        <h1 class="blog-title">{{ site.title }}</h1>
        <h2 class="blog-description">{{ site.description }}</h2>
        <div class="custom-links">
            <a href="{{site.baseurl}}/equipo">Conocenos</a>
            &nbsp;&squf;&nbsp;
            <a href="mailto:{{ site.email }}">Sumate al grupo</a>
        </div>
        <div class="index-headline"></div>
    </header>
    <main class="content" role="main">
        <article class="post" role="article">
            <header class="post-header">
                <h2 class="post-title">Bitácora</h2>
            </header>
            <section class="post-excerpt" itemprop="description">Seguí nuestra planificación</section>
            <div class="buttons-content">
                <a class="post-button" href="{{site.baseurl}}/bitacora/jueves-m">Jueves (Mañana)</a>
                <a class="post-button" href="{{site.baseurl}}/bitacora/viernes-n">Viernes (Noche)</a>
            </div>
        </article>
        <article class="post" role="article">
            <header class="post-header">
                <h2 class="post-title">Apuntes</h2>
            </header>
            <section class="post-excerpt" itemprop="description">También podés verlos <a href="{{site.baseurl}}/apuntes/">acá</a></section>
            </section>
            <div class="buttons-content">
                <a class="post-button" href="{{site.baseurl}}/apuntes/sistemas">Diseño y Sistemas</a>
                <a class="post-button" href="{{site.baseurl}}/apuntes/metodologias">Diseño y Metodologías de Desarrollo</a>
                <a class="post-button" href="{{site.baseurl}}/apuntes/comunicacion">Concepción y Comunicación del Diseño</a>
                <a class="post-button" href="{{site.baseurl}}/apuntes/requerimientos">Requerimientos y Diseño</a>
                <a class="post-button" href="{{site.baseurl}}/apuntes/modelado-objetos">Modelado de Objetos</a>
                <a class="post-button" href="{{site.baseurl}}/apuntes/herramientas">Herramientas Tecnológicas</a>
                <a class="post-button" href="{{site.baseurl}}/apuntes/patrones">Patrones de Diseño y Buenas Prácticas</a>
                <a class="post-button" href="{{site.baseurl}}/apuntes/modelado-datos">Modelado de Datos</a>
                <a class="post-button" href="{{site.baseurl}}/apuntes/arquitectura">Introducción al Diseño de Arquitectura</a>
                <a class="post-button" href="{{site.baseurl}}/apuntes/validacion">Validación del Diseño</a>
                <a class="post-button" href="{{site.baseurl}}/apuntes/ui">Diseño de Interfaz de Usuario</a>
                <a class="post-button" href="{{site.baseurl}}/apuntes/bonus">Extras</a>
            </div>
        </article>
        <article class="post" role="article">
            <header class="post-header">
                <h2 class="post-title">Ejercicios cortos</h2>
            </header>
            <section class="post-excerpt" itemprop="description">También podés verlos <a href="{{site.baseurl}}/ejercicios/">acá</a></section>
            <div class="buttons-content">
                <a class="post-button" href="{{site.baseurl}}/ejercicios/guia-0">Diseño de Sistemas</a>
                <a class="post-button" href="{{site.baseurl}}/ejercicios/guia-1">Requerimientos y Casos de Uso</a>
                <a class="post-button" href="{{site.baseurl}}/ejercicios/guia-2">Ejercicios Introductorios de Modelado con Objetos</a>
                <a class="post-button" href="{{site.baseurl}}/ejercicios/guia-3">Modelado con Objetos y Patrones</a>
                <a class="post-button" href="{{site.baseurl}}/ejercicios/guia-4">Diseño de Interfaces de Usuario</a>
                <a class="post-button" href="https://sites.google.com/site/utndesign/material/guia-de-ejercicios/guia-modelado-datos">Modelado de Datos</a>
                <a class="post-button bonus-item" href="https://sites.google.com/site/utndesign/material/guia-de-ejercicios/guia-disenio-estructurado">Bonus: Diseño Estructurado</a>
                <a class="post-button bonus-item" href="https://sites.google.com/site/utndesign/material/guia-de-ejercicios/guia-4-ejercicios-funcional">Bonus: Diseño Funcional</a>
            </div>
        </article>
        <article class="post" role="article">
            <header class="post-header">
                <h2 class="post-title">Enunciados</h2>
            </header>
            <section class="post-excerpt" itemprop="description">También podés verlos <a href="{{site.baseurl}}/enunciados/">acá</a></section>
            <div class="buttons-content">
                <a class="post-button" href="{{site.baseurl}}/enunciados/parte-a">Parte A</a>
                <a class="post-button" href="{{site.baseurl}}/enunciados/parte-b">Parte B</a>
                <a class="post-button" href="{{site.baseurl}}/enunciados/integradores">Integradores</a>
                <a class="post-button" href="https://sites.google.com/site/utndesign/material/guia-de-ejercicios">Ejercicios cortos</a>
            </div>
        </article>
    </main>
    {% include footer.html %}
    {% include javascripts.html %}
</body>